<h1>Welcome</h1>
<p>Welcome to Stories 1.0.0</p>
<p>Post stories from thr best amd worst of your life and choose for them to be read by the world or private as your own
	personal dairy</p>
{{#if user}}

{{else}}
<a href="/auth/google" class="btn red lighten-3 waves-effect waves-light"><i class="fab fa-google left"></i> Login With
	Google</a>
{{/if}}