.location_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

iframe {
  margin: 0;
  padding: 0;
}

.location_tag {
  position: absolute;
  background: #0f0f0f;
  padding: 10px 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
